.category-container {
  width: 100%;
  margin: 0 auto 0 6.1%; /* Center the container */
  padding: 20px; /* Add padding if needed */
}

.category-sidebar {
  width: 200px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 420px; /* Set the height to 420px */
  overflow-y: auto; /* Enable scrolling if content exceeds the height */
}

.category-title {
  font-size: 1.5rem;
  margin-bottom: 35px; /* Increase margin to add space below the title */
  text-align: center;
}

.category-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.category-item {
  padding: 12px; /* Slightly increase padding for better spacing */
  margin-bottom: 25px; /* Increase margin-bottom for more space between items */
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.category-item:hover {
  background-color: #ddd;
}

