.category-container {
  margin: 0 auto 0 6.1%; /* Center the container */
  transition: width 0.3s ease-in-out;
}

.category-sidebar {
  padding: 10px;
  background-color: #FF9951;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: width 0.3s ease-in-out;
}

.category-sidebar.collapsed {
  width: 200px; /* Fit the width to the title and icon */
}

.category-sidebar.expanded {
  width: 200px; /* Expand to full width when items are shown */
}

.category-title {
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #fff;
}

.icon {
  margin-right: 10px; /* Space between the icon and the title */
}

.category-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.category-list.expanded {
  opacity: 1;
  max-height: 1000px; /* Arbitrarily large value to ensure it expands fully */
  padding-top: 10px; /* Add space above the first category item */
}

.category-item {
  padding: 12px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.category-item:hover {
  background-color: #ddd;
}
